timeaccount.db-journal
timeaccount.db

.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
UI/.vscode/settings.json
API/public/build/
API/*.apps.googleusercontent.com.json
API/credentials.json
API/test.py

API/demo-oauth-client/
