timeaccount.db-journal
timeaccount.db

.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
UI/.vscode/settings.json
API/public/build/
API/.env
API/*.apps.googleusercontent.com.json
API/credentials.json
API/test.py

API/demo-oauth-client/
UI/src/Components/svelte-swipe-master/.gitignore
UI/src/Components/svelte-swipe-master/.npmignore
UI/src/Components/svelte-swipe-master/CHANGELOG.md
UI/src/Components/svelte-swipe-master/LICENSE
UI/src/Components/svelte-swipe-master/package-lock.json
UI/src/Components/svelte-swipe-master/package.json
UI/src/Components/svelte-swipe-master/README_CN.md
UI/src/Components/svelte-swipe-master/README_KO.md
UI/src/Components/svelte-swipe-master/README.md
UI/src/Components/svelte-swipe-master/rollup.config.js
UI/src/Components/svelte-swipe-master/rollup.dev.config.js
UI/src/Components/svelte-swipe-master/dev/App.svelte
UI/src/Components/svelte-swipe-master/dev/main.js
UI/src/Components/svelte-swipe-master/docs/bundle.css
UI/src/Components/svelte-swipe-master/docs/bundle.css.map
UI/src/Components/svelte-swipe-master/docs/bundle.js
UI/src/Components/svelte-swipe-master/docs/bundle.js.map
UI/src/Components/svelte-swipe-master/docs/favicon.png
UI/src/Components/svelte-swipe-master/docs/global.css
UI/src/Components/svelte-swipe-master/docs/index.html
UI/src/Components/svelte-swipe-master/docs/images/1.jpg
UI/src/Components/svelte-swipe-master/docs/images/2.jpg
UI/src/Components/svelte-swipe-master/docs/images/3.jpg
UI/src/Components/svelte-swipe-master/docs/images/4.jpg
UI/src/Components/svelte-swipe-master/docs/images/5.jpg
UI/src/Components/svelte-swipe-master/docs/images/dy-1.jpg
UI/src/Components/svelte-swipe-master/docs/images/dy-2.jpg
UI/src/Components/svelte-swipe-master/docs/images/dy-3.jpg
UI/src/Components/svelte-swipe-master/docs/images/dy-4.jpg
UI/src/Components/svelte-swipe-master/docs/images/dy-5.jpg
UI/src/Components/svelte-swipe-master/docs/images/url-code.png
UI/src/Components/svelte-swipe-master.zip
UI/src/Components/Swipe.original/index.js
UI/src/Components/Swipe.original/Swipe.svelte
UI/src/Components/Swipe.original/SwipeItem.svelte
API/__pycache__/sendmail.cpython-39.pyc
API/@@
.gitignore
API/@
