[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
uvicorn = "*"
fastapi = "*"
pydantic = "*"
pyyaml = "*"
py3-validate-email = "*"
sendgrid = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
deta = "*"
bcrypt = "*"

[dev-packages]
deta = "*"

[requires]
python_version = "3.9"
